 body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, seagreen, teal);
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
            color: white;
            font-size: 50px;
        }