 body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, seagreen, teal);
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            margin-top: 50px;
            color: white;
            font-size: 50px;
        }
        h2{
            color: rgb(2, 74, 168);
        }
        .event-form {
            background: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            display: inline-block;
        }
        .event-form input[type="text"] {
            padding: 10px;
            width: 70%;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .event-form button {
            padding: 10px 15px;
            background-color: #5cb85c;
            border: none;
            border-radius: 4px;
            color: white;
            cursor: pointer;
            width: 80em;
        }