 body {
     font-family: Arial, sans-serif;
     background: linear-gradient(to right, seagreen, teal);
     margin: 0;
     padding: 0;
 }

 .parent {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     gap: 20px;
     margin-top: 30px;
     margin-bottom: 50px;
 }

 h1 {
     text-align: center;
     margin-top: 50px;
     color: white;
     font-size: 50px;
     font-family: Arial, Helvetica, sans-serif;
     text-shadow: 2px 2px 4px black;
 }

 h2 {
     color: rgb(2, 74, 168);
 }

 .event-form {
     background: white;
     padding: 20px;
     border-radius: 20px;
     margin-bottom: 20px;
     display: inline-block;
     width: 20em;
     height: 30em;
     display: flex;
     flex-direction: column;
     gap: 10px;
     font-family: Arial, Helvetica, sans-serif;
     gap: 15px;
 }

 .event-form input[type="text"] {
     padding: 10px;
     width: 70%;
     border: 1px solid #ccc;
     border-radius: 4px;
 }

 .event-form button {
     padding: 10px 15px;
     background-color: #5cb85c;
     border: none;
     border-radius: 4px;
     color: white;
     cursor: pointer;
     width: 100%;
     height: 50px;
 }

 .event-form button:hover {
     background-color: #4cae4c;
 }

 .My-events {
     display: flex;
     flex-direction: column;
     background: white;
     height: 30em;
     width: 50em;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     border-radius: 20px;
 }

.card {
    border: 1px solid black;
    border-radius: 20px;
    width: 20em;
    height: fit-content;
    background: linear-gradient(to right, #49dce3, #adb8dd);
    position: relative; 
    padding: 15px;      
    margin: 10px;
}

 .cat {
     border: 2px solid blueviolet;
     border-radius: 10px;
     font-size: 20px;
     width: fit-content;
     height: fit-content;
     justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
     background-color: blueviolet;
     color: white;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .name {
     font-weight: bolder;
     font-size: 20px;
 }

 .gridcard {
     display: grid;
     grid-template-columns: auto auto;
 }

 .delete-btn {
     position: absolute;
     top: 10px;
     right: 10px;
     background: #ff4d4d;
     color: white;
     border: none;
     border-radius: 50%;
     width: 25px;
     height: 25px;
     cursor: pointer;
     font-weight: bold;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: background 0.3s;
 }

 .delete-btn:hover {
     background: #cc0000;
 }